<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>view.outline_template</param-name>
        <param-value>header-footer.html</param-value>
    </context-param>
    <!-- davide windows 
    <context-param>
        <param-name>extra-images.directory</param-name>
        <param-value>C:\Users\david\Desktop\SocialDevelop\SocialDevelop\SocialDevelop\web\extra-images</param-value>
    </context-param>
    <context-param>
        <param-name>curriculums.directory</param-name>
        <param-value>C:\Users\david\Desktop\SocialDevelop\SocialDevelop\SocialDevelop\web\curriculums</param-value>
    </context-param>
    <!- davide ubuntu -->
    <context-param>
        <param-name>extra-images.directory</param-name>
        <param-value>C:\Users\Andrea\Desktop\INGWEB\SocialDevelop\SocialDevelop\web\extra-images</param-value>
    </context-param>
    <context-param>
        <param-name>curriculums.directory</param-name>
        <param-value>C:\Users\Andrea\Desktop\INGWEB\SocialDevelop\SocialDevelop\web\curriculums</param-value>
    </context-param>
    <!--Manuel 
    <context-param>
        <param-name>extra-images.directory</param-name>
        <param-value>/Users/manuel/Desktop/GIT/SocialDevelop/SocialDevelop/web/extra-images</param-value>
    </context-param>
    <context-param>
        <param-name>curriculums.directory</param-name>
        <param-value>/Users/manuel/Desktop/GIT/SocialDevelop/SocialDevelop/web/curriculums</param-value>
    </context-param>-->
    <!-- Luca 
    <context-param>
        <param-name>extra-images.directory</param-name>
        <param-value>C:\Users\Win8.1\Documents\Luca\SocialDevelop\SocialDevelop\SocialDevelop\web\extra-images</param-value>
    </context-param>
    <context-param>
        <param-name>curriculums.directory</param-name>
        <param-value>C:\Users\Win8.1\Documents\Luca\SocialDevelop\SocialDevelop\SocialDevelop\web\curriculums</param-value>
    </context-param>-->
    <servlet>
        <servlet-name>Progetto</servlet-name>
        <servlet-class>socialdevelop.data.model.Project</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>provaDB2</servlet-name>
        <servlet-class>socialdevelop.data.impl.provaDB2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeLoginReg</servlet-name>
        <servlet-class>socialdevelop.controller.MakeLoginReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>socialdevelop.controller.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Project_Detail</servlet-name>
        <servlet-class>socialdevelop.controller.Project_Detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>socialdevelop.controller.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>socialdevelop.controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>socialdevelop.controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>socialdevelop.controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProfile</servlet-name>
        <servlet-class>socialdevelop.controller.MyProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>List_project</servlet-name>
        <servlet-class>socialdevelop.controller.List_project</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyCollaborations</servlet-name>
        <servlet-class>socialdevelop.controller.MyCollaborations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProject</servlet-name>
        <servlet-class>socialdevelop.controller.SearchProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompletaRegistrazione</servlet-name>
        <servlet-class>socialdevelop.controller.CompletaRegistrazione</servlet-class>
        <multipart-config>
            <!--
            <location>/tmp</location> temporary files location (DEF: "") -->
            <max-file-size>20848820</max-file-size>
            <!-- max size of accepted uploadd (DEF: unlimited!) -->
            <max-request-size>418018841</max-request-size>
            <!-- max size of multipart requests (may contain more files or data) (DEF: ulimited!) -->
            <!-- <file-size-threshold>1048576</file-size-threshold> max size of files to hold in memory (without writing to temporary disk file) (DEF: 0) -->
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>DownloadCurriculum</servlet-name>
        <servlet-class>socialdevelop.controller.DownloadCurriculum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MySkills</servlet-name>
        <servlet-class>socialdevelop.controller.MySkills</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProjects</servlet-name>
        <servlet-class>socialdevelop.controller.MyProjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addSkill</servlet-name>
        <servlet-class>socialdevelop.controller.addSkill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rmSkill</servlet-name>
        <servlet-class>socialdevelop.controller.rmSkill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProject</servlet-name>
        <servlet-class>socialdevelop.controller.CreateProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>socialdevelop.controller.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileSubmit</servlet-name>
        <servlet-class>socialdevelop.controller.UpdateProfileSubmit</servlet-class>
        <multipart-config>
            <!--
            <location>/tmp</location> temporary files location (DEF: "") -->
            <max-file-size>20848820</max-file-size>
            <!-- max size of accepted uploadd (DEF: unlimited!) -->
            <max-request-size>418018841</max-request-size>
            <!-- max size of multipart requests (may contain more files or data) (DEF: ulimited!) -->
            <!-- <file-size-threshold>1048576</file-size-threshold> max size of files to hold in memory (without writing to temporary disk file) (DEF: 0) -->
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>InsertProject</servlet-name>
        <servlet-class>socialdevelop.controller.InsertProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindDeveloper</servlet-name>
        <servlet-class>socialdevelop.controller.FindDeveloper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDeveloper</servlet-name>
        <servlet-class>socialdevelop.controller.SearchDeveloper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProject</servlet-name>
        <servlet-class>socialdevelop.controller.UpdateProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProjectSave</servlet-name>
        <servlet-class>socialdevelop.controller.UpdateProjectSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeveloperProfile</servlet-name>
        <servlet-class>socialdevelop.controller.DeveloperProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeveloperCollaborations</servlet-name>
        <servlet-class>socialdevelop.controller.DeveloperCollaborations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeveloperProjects</servlet-name>
        <servlet-class>socialdevelop.controller.DeveloperProjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeveloperSkills</servlet-name>
        <servlet-class>socialdevelop.controller.DeveloperSkills</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostAd</servlet-name>
        <servlet-class>socialdevelop.controller.PostAd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostRequest</servlet-name>
        <servlet-class>socialdevelop.controller.PostRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDiscussion</servlet-name>
        <servlet-class>socialdevelop.controller.PostDiscussion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyCollaborators</servlet-name>
        <servlet-class>socialdevelop.controller.MyCollaborators</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeCollaboratorFromTask</servlet-name>
        <servlet-class>socialdevelop.controller.removeCollaboratorFromTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>releaseVote</servlet-name>
        <servlet-class>socialdevelop.controller.releaseVote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>joinTask</servlet-name>
        <servlet-class>socialdevelop.controller.joinTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackEndType</servlet-name>
        <servlet-class>socialdevelop.controller.BackEndType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackEndSkill</servlet-name>
        <servlet-class>socialdevelop.controller.BackEndSkill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSkillBack</servlet-name>
        <servlet-class>socialdevelop.controller.AddSkillBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSkillBack</servlet-name>
        <servlet-class>socialdevelop.controller.UpdateSkillBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rmSkillBack</servlet-name>
        <servlet-class>socialdevelop.controller.rmSkillBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rmType</servlet-name>
        <servlet-class>socialdevelop.controller.rmType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateType</servlet-name>
        <servlet-class>socialdevelop.controller.UpdateType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addType</servlet-name>
        <servlet-class>socialdevelop.controller.addType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeveloperForTask</servlet-name>
        <servlet-class>socialdevelop.controller.DeveloperForTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendRequest</servlet-name>
        <servlet-class>socialdevelop.controller.sendRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PannelloDelleProposte</servlet-name>
        <servlet-class>socialdevelop.controller.PannelloDelleProposte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acceptProposal</servlet-name>
        <servlet-class>socialdevelop.controller.acceptProposal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>declineProposal</servlet-name>
        <servlet-class>socialdevelop.controller.declineProposal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PannelloDelleOfferte</servlet-name>
        <servlet-class>socialdevelop.controller.PannelloDelleOfferte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PannelloDegliInviti</servlet-name>
        <servlet-class>socialdevelop.controller.PannelloDegliInviti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PannelloDelleDomande</servlet-name>
        <servlet-class>socialdevelop.controller.PannelloDelleDomande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeveloperCollaborators</servlet-name>
        <servlet-class>socialdevelop.controller.DeveloperCollaborators</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPhoto</servlet-name>
        <servlet-class>socialdevelop.controller.GetPhoto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>provaDB2</servlet-name>
        <url-pattern>/provaDB2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>List_project</servlet-name>
        <url-pattern>/List_project</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeLoginReg</servlet-name>
        <url-pattern>/MakeLoginReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProfile</servlet-name>
        <url-pattern>/MyProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProjects</servlet-name>
        <url-pattern>/MyProjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompletaRegistrazione</servlet-name>
        <url-pattern>/CompletaRegistrazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyCollaborations</servlet-name>
        <url-pattern>/MyCollaborations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadCurriculum</servlet-name>
        <url-pattern>/DownloadCurriculum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProject</servlet-name>
        <url-pattern>/SearchProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Project_Detail</servlet-name>
        <url-pattern>/Project_Detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MySkills</servlet-name>
        <url-pattern>/MySkills</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addSkill</servlet-name>
        <url-pattern>/addSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rmSkill</servlet-name>
        <url-pattern>/rmSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProject</servlet-name>
        <url-pattern>/CreateProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileSubmit</servlet-name>
        <url-pattern>/UpdateProfileSubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProject</servlet-name>
        <url-pattern>/InsertProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindDeveloper</servlet-name>
        <url-pattern>/FindDeveloper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProject</servlet-name>
        <url-pattern>/UpdateProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProjectSave</servlet-name>
        <url-pattern>/UpdateProjectSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeveloperProfile</servlet-name>
        <url-pattern>/DeveloperProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeveloperCollaborations</servlet-name>
        <url-pattern>/DeveloperCollaborations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeveloperProjects</servlet-name>
        <url-pattern>/DeveloperProjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeveloperSkills</servlet-name>
        <url-pattern>/DeveloperSkills</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostAd</servlet-name>
        <url-pattern>/PostAd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostRequest</servlet-name>
        <url-pattern>/PostRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDiscussion</servlet-name>
        <url-pattern>/PostDiscussion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDeveloper</servlet-name>
        <url-pattern>/SearchDeveloper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyCollaborators</servlet-name>
        <url-pattern>/MyCollaborators</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeCollaboratorFromTask</servlet-name>
        <url-pattern>/removeCollaboratorFromTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>releaseVote</servlet-name>
        <url-pattern>/releaseVote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>joinTask</servlet-name>
        <url-pattern>/joinTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addType</servlet-name>
        <url-pattern>/addType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackEndType</servlet-name>
        <url-pattern>/BackEndType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackEndSkill</servlet-name>
        <url-pattern>/BackEndSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSkillBack</servlet-name>
        <url-pattern>/AddSkillBack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rmSkillBack</servlet-name>
        <url-pattern>/rmSkillBack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSkillBack</servlet-name>
        <url-pattern>/UpdateSkillBack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rmType</servlet-name>
        <url-pattern>/rmType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateType</servlet-name>
        <url-pattern>/UpdateType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeveloperForTask</servlet-name>
        <url-pattern>/DeveloperForTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendRequest</servlet-name>
        <url-pattern>/sendRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PannelloDelleProposte</servlet-name>
        <url-pattern>/PannelloDelleProposte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acceptProposal</servlet-name>
        <url-pattern>/acceptProposal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>declineProposal</servlet-name>
        <url-pattern>/declineProposal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PannelloDelleOfferte</servlet-name>
        <url-pattern>/PannelloDelleOfferte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PannelloDegliInviti</servlet-name>
        <url-pattern>/PannelloDegliInviti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PannelloDelleDomande</servlet-name>
        <url-pattern>/PannelloDelleDomande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeveloperCollaborators</servlet-name>
        <url-pattern>/DeveloperCollaborators</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPhoto</servlet-name>
        <url-pattern>/GetPhoto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>jdbc/mydb</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
