/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-mag-2017, 22.28.05
    Author     : manuel
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
   Created on : 29-mag-2017, 22.28.05
   Author     : manuel
*/
.create_project{
   padding-bottom: 1%;
}
.title_project{
   margin-left: 20%;
   text-align: center;
}  

#grade-right{
    float:right;
}

.grade-padding{
    padding-right:3% !important; 
}


.projectDescription{
    padding-bottom: 0%;
    word-wrap: break-word;
}
.projectCoordinator{
    background-color: #31b8f5;
}
.projects{
    padding-top:5%; 
}
#findByKeyWord{
    padding-bottom: 4% !important;
    padding-top: 2% !important;
    width:100% !important;
}
#submitsearch{
    padding-top: 2%;
}
.description_project{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.piu_info{
    padding-top: 1%;
    padding-left: 50%;
}

.btn-upd{
    width:100%
}

.btn-upd-foto{
    text-align:center;
}

.btn-upd-cv{
    text-align: left !important;
}

#a.hidden{
    display:none;
}

.req {
    border-color : red !important;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-box-shadow : 0 0 2px red;
    -webkit-box-shadow: 0 0 2px red;
}


.req-list{
    color:red;
}

.fullWidth{
    width:100% !important;
}


.hidden{
    display:none !important;
}

.view-update {
    padding-bottom:2%;
}

#submit-project {
    margin-top:5%;
}
.developerFinder
{
    border-width: 1px;
    border-style: solid;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-bottom: 2%;
}
.titleDeveloper{
    text-align: center;
    font-size: large;
}
.singleProject{
    padding-bottom: 8%;
}

.center{
    text-align:center;
}

.taskrow{
    padding-bottom: 8%;
}

.req-select{border-color: red !important;}

.sidebar_fixed{
    position: fixed;
    top: 0;
}