   <!-- Dashboard Side Bar Wrap Start -->
          <div class="col-md-4">
            <div class="gt-user-sidebar">
              <div class="gt_d_author_wrap">
                <div class="gt_d_author_pic">
                  <figure>
                    <img src=${profile-img!"/extra-images/testimonial-01.png"} alt="">
                  </figure>
                </div>
                <div class="gt_d_author_pic_des">
                  <h5>${username}</h5>
                  <span class="gt_hdg_span"></span>
                  <p>${fullname}</p>
                  <label>Age: ${age}</label>
                </div>
                <div class="gt_d_author_sbj">
                  <h6>Program</h6>
                  <span>Bachelors of Science, Nursing</span>
                  <h6>Semester</h6>
                  <span>4th Semester</span>
                </div>
              </div>
              <div class="gt-usser-account-list">
                <ul>
                  <li class="active"><a href="my-profile.html"><i class="fa fa-user-circle-o gt-color"></i>My Profile</a></li>
                  <li><a href="dashboard-courses.html"><i class="icon-book gt-color"></i>My Courses</a></li>
                  <li><a href="dashboard-classes.html"><i class="icon-clock-1 gt-color"></i>Classes</a></li>
                  <li><a href="dashboard-fav-courses.html"><i class="fa fa-heart gt-color"></i>My Favorites</a></li>
                  <li><a href="report%26achievement.html"><i class="icon-business gt-color"></i>Report &#38; Achievement</a></li>
                  <li><a href="profile-setting.html"><i class="icon-three gt-color"></i>Profile Setting</a></li>
                  <li><a href="privacy-setting.html"><i class="icon-lock gt-color"></i>Privacy Setting</a></li>
                </ul>
                <a href="Logout" class="gt-logout"><i class="icon-arrows-2 gt-color"></i>Logout</a>
              </div>
            </div>
          </div>
          <!-- Dashboard Side Bar Wrap End -->

          <!--Classes List Wrap Start-->
          <div class="col-md-8">
            <div class="gt_d_classes_wrap default_width mb20">
              <div class="gt_d_profile_wrap default_width">
                <figure>
                  <img src="extra-images/profile-img-01.jpg" alt="">
                </figure>
                <div class="gt_d_profile_detail">
                  <ul>
                    <li>
                      <span>Username:</span>
                      <p>${username}</p>
                    </li>
                    <li>
                      <span>Full Name:</span>
                      <p>${fullname}</p>
                    </li>
                    <li>
                      <span>Age:</span>
                      <p>${age}</p>
                    </li>
                    <li>
                      <span>Email Address:</span>
                      <p>${mail}</p>
                    </li>
                    <li>
                      <span>Program:</span>
                      <p>Bachelors of Science, Nursing</p>
                    </li>
                    <li>
                      <span>Department:</span>
                      <p>School of Nursing</p>
                    </li>
                    <li>
                      <span>Student ID:</span>
                      <p>12345</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="gt_d_about_author default_width">
                <h4 class="gt_d_title">About ${username}</h4>
                <p class="d_bold"> ${bio} </p></div>
              <h4 class="gt_d_title">Courses</h4>
              <div class="gt_d_courses_wrap default_width mb20">
                <figure>
                  <img src="extra-images/courses-01.jpg" alt="">
                  <figcaption class="gt_listing_rating">
                    Paid
                  </figcaption>
                </figure>
                <div class="gt_d_classes_des">
                  <h6><a href="#">Character Designer for 2D Animation</a></h6>
                  <ul>
                    <li>
                      <ul class="gt_rating_star">
                        <li>
                          <a href="#"><i class="fa fa-star"></i></a>
                          <a href="#"><i class="fa fa-star"></i></a>
                          <a href="#"><i class="fa fa-star"></i></a>
                          <a href="#"><i class="fa fa-star"></i></a>
                          <a href="#"><i class="fa fa-star"></i></a>
                        </li>
                      </ul>
                    </li>
                    <li>View Course - Expires : 22 June 2016</li>
                  </ul>
                  <p>Cras nec arcu quis libero semper tristique in at velit. Nunc volutpat mattis erat, vel varius dolor fringilla hendrerit. Morbi aliquam orci nulla</p>
                </div>
              </div>
              <div class="gt_d_courses_wrap default_width mb20">
                <figure>
                  <img src="extra-images/courses-02.jpg" alt="">
                  <figcaption class="gt_listing_rating">
                    Paid
                  </figcaption>
                </figure>
                <div class="gt_d_classes_des">
                  <h6><a href="#">Character Designer for 2D Animation</a></h6>
                  <ul>
                    <li>
                      <ul class="gt_rating_star">
                        <li>
                          <a href="#"><i class="fa fa-star"></i></a>
                          <a href="#"><i class="fa fa-star"></i></a>
                          <a href="#"><i class="fa fa-star"></i></a>
                          <a href="#"><i class="fa fa-star"></i></a>
                          <a href="#"><i class="fa fa-star"></i></a>
                        </li>
                      </ul>
                    </li>
                    <li>View Course - Expires : 22 June 2016</li>
                  </ul>
                  <p>Cras nec arcu quis libero semper tristique in at velit. Nunc volutpat mattis erat, vel varius dolor fringilla hendrerit. Morbi aliquam orci nulla</p>
                </div>
              </div>
              <div class="gt_d_courses_wrap default_width mb20">
                <figure>
                  <img src="extra-images/courses-03.jpg" alt="">
                  <figcaption class="gt_listing_rating">
                    Paid
                  </figcaption>
                </figure>
                <div class="gt_d_classes_des">
                  <h6><a href="#">Character Designer for 2D Animation</a></h6>
                  <ul>
                    <li>
                      <ul class="gt_rating_star">
                        <li>
                          <a href="#"><i class="fa fa-star"></i></a>
                          <a href="#"><i class="fa fa-star"></i></a>
                          <a href="#"><i class="fa fa-star"></i></a>
                          <a href="#"><i class="fa fa-star"></i></a>
                          <a href="#"><i class="fa fa-star"></i></a>
                        </li>
                      </ul>
                    </li>
                    <li>View Course - Expires : 22 June 2016</li>
                  </ul>
                  <p>Cras nec arcu quis libero semper tristique in at velit. Nunc volutpat mattis erat, vel varius dolor fringilla hendrerit. Morbi aliquam orci nulla</p>
                </div>
              </div>
              <div class="gt_d_courses_wrap default_width">
                <figure>
                  <img src="extra-images/courses-04.jpg" alt="">
                  <figcaption class="gt_listing_rating">
                    Paid
                  </figcaption>
                </figure>
                <div class="gt_d_classes_des">
                  <h6><a href="#">Character Designer for 2D Animation</a></h6>
                  <ul>
                    <li>
                      <ul class="gt_rating_star">
                        <li>
                          <a href="#"><i class="fa fa-star"></i></a>
                          <a href="#"><i class="fa fa-star"></i></a>
                          <a href="#"><i class="fa fa-star"></i></a>
                          <a href="#"><i class="fa fa-star"></i></a>
                          <a href="#"><i class="fa fa-star"></i></a>
                        </li>
                      </ul>
                    </li>
                    <li>View Course - Expires : 22 June 2016</li>
                  </ul>
                  <p>Cras nec arcu quis libero semper tristique in at velit. Nunc volutpat mattis erat, vel varius dolor fringilla hendrerit. Morbi aliquam orci nulla</p>
                </div>
              </div>
            </div>
