            <!--Heading Wrap Start-->
            <div class="gt_hdg_1 default_width">
              <h3>Completa il tuo profilo</h3>
              <p><br>aggiungi informazioni dettagliate, inserisci le tue skills e inizia a collaborare!</p>
                <span class="gt_hdg_left"></span>
                <i class="icon-school"></i>
                <span class="gt_hdg_right"></span>
            </div>
            <!--Heading Wrap End-->
            <form class="gt_contact_form" id="contact-form" action="http://2goodtheme.net/edu-skill/layout/assets/sendmail.php" method="post">
              <div class="col-md-4">
                  <div class="gt_contact_us_field">
                      <input class="c_ph" type="text" placeholder="Your Name" id="name" name="contact-name" required>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="gt_contact_us_field">
                      <input class="c_ph" type="text" placeholder="Email Adress:" id="email" name="contact-email" required>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="gt_contact_us_field">
                      <input class="c_ph" type="text" placeholder="Phone Number" id="subject" name="contact-subject" required>
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="gt_contact_us_field">
                      <textarea class="gt_c_bg" name="contact-message" id="message" placeholder="Message" required></textarea>
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="gt_contact_us_field">
                      <input id="submit-message" type="submit" value="submit" name="submit_msg">
                  </div>
                  <!--Alert Message-->
                  <div id="contact-result">
                  </div>
              </div>
            </form>
