    
<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div class="gt_lgin_tab_wrap home_background_login">
            <ul class="gt_login_link"  data-tabs="tabs">
                <li class=<#if active=="register">"active"<#else>""</#if>><a data-toggle="tab" href="#register">Sign Up</a></li>
                <li class=<#if active=="login">"active"<#else>""</#if>><a data-toggle="tab" href="#login">Sign In</a></li>              
            </ul>
            <div class="tab-content">
                <div class=<#if active=="login">"tab-pane active"<#else>"tab-pane"</#if> id="login">
                     <div class="gt_login_des_wrap default_width ">
                        <form id="login" action="Login" method="post">
                            <p class=${hidden_login_all!"hidden"} style="color:#DC143C;">${error_login_all}</p> 
                             <div class="gt_login_field">
                                 <input type="text" name="username" required="required" id="mail-username" placeholder="Your Email/Username..">
                                 <label><i class="fa fa-user-circle"></i></label>
                             </div>
                             <p class=${hidden_login_user!"hidden"} style="color:#DC143C;">${error_user}</p>           
                              <div class="gt_login_field">
                                  <input type="password" name="pwd" required="required" id="pwd" placeholder="Your Password">
                                  <label><i class="fa fa-lock"></i></label>
                              </div>
                              <p class=${hidden_login_pwd!"hidden"} style="color:#DC143C;">${error_pwd}</p>   
 
                               <div class="gt_login_field mb20">
                                   <input type="submit" value="Submit">
                               </div>
                              </form>
                             </div>
                            <div class="gt_contact_us_field mb20">
                                 <h6><a href="List_project?n=1" class="guest grade-right"> ..Or Enter As A Guest</a></h6>
                            </div>
                            </div>
                            <div class=<#if active=="register">"tab-pane active"<#else>"tab-pane"</#if> id="register">
                                 <div class="gt_login_des_wrap default_width">
                                    <form id="registrati" action="Signup" method="post">
                                        <p class=${hidden_register_all!"hidden"} style="color:#DC143C;">${error_register_all}</p> 
                                         <div class="gt_login_field">
                                             <input type="text" name="first_name" required="required" placeholder="First Name">
                                             <label><i class="fa fa-user"></i></label>
                                         </div>
                                         <div class="gt_login_field">
                                             <input type="text" name="second_name" required="required" placeholder="Last Name">
                                             <label><i class="fa fa-user"></i></label>
                                         </div>  
                                         <div class="gt_login_field">
                                             <input type="text" name="username1" required="required" placeholder="Username">
                                             <label><i class="fa fa-user-circle"></i></label>
                                             <p class=${hidden_register_username!"hidden"} style="color:#DC143C;">${error_username}</p> 
                                             </div>
                                             <div class="gt_login_field">
                                                 <input type="text" pattern="\d{1,2}/\d{1,2}/\d{4}" required="required" id="birthdate" name="birthdate" placeholder="Birthdate dd/mm/yyyy" />
                                                 <label><i class="fa fa-calendar"></i></label>
                                             </div> 
                                             <div class="gt_login_field">
                                                 <input type="email" name="mail" required="required" placeholder="Your Email Address">
                                                 <label><i class="fa fa-envelope"></i></label>
                                                 <p class=${hidden_register_email!"hidden"} style="color:#DC143C;">${error_email}</p> 
                                                 </div>
                                                 <div class="gt_login_field">
                                                     <input type="password" id="pwd1" name="pwd1" required="required" placeholder="Your Password">
                                                     <label><i class="icon-lock"></i></label>
                                                 </div>
                                                 <div class="gt_login_field">
                                                     <input type="password" id="pwd2" name="pwd2" required="required" placeholder="Confirm password">
                                                     <label><i class="icon-lock"></i></label>
                                                     <p class=${hidden_register_pwd!"hidden"} style="color:#DC143C;">${error_pwd}</p> 
                                                     </div>
                                                     <div class="gt_login_field">
                                                         <input id="submit-sign" type="submit" value="Submit">
                                                     </div>
                                                 </form>
                                             </div>
                                         </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                